<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Latest compiled and minified jQuery -->
        <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Angular (minified) -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
        <!--Controllers for this page/app -->
        <script src="javascripts/controllers.js"></script>
        <!-- Local styles -->
        <link rel="stylesheet" href="stylesheets/style.css">

        <meta charset="UTF-8">
        <title>End</title>

    </head>

<body ng-app="RunSafe">
<div ng-controller="RunSafectrl" ng-init="initApp()">
    <img src="/images/runningheader.png">


<h2>Run Complete!</h2>
    <p>Run Stats:</p>
    <p>Starting Point:</p>
    <div id="MyEdit"> This text will change 
		<script src="C:\Users\Adam\Documents\GitHub\CS411-Run-Safe\RouteLoops.js"></script>
		<script>
			getDistance();
		</script>
	</div>


    <div>
        <form class="form-inline" name="inputForm">
            <div class="form-group">
                <label class="sr-only" for="formRouteName">Save Route</label>
                Name Your Route: <input type="text" class="form-control" id="formRouteName" placeholder="Route Name" ng-model="saveroute" minlength = "1" maxlength= "100" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="formRouteStart">Starting Point</label>
                <input type="hidden" class="form-control" id="formRouteStart" value = "Route Start" ng-model="routestart" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="formDistance">Distance</label>
                <input type="hidden" class="form-control" id="formDistance" value = "5" ng-model="distance" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="formLink">Enter Weight (lbs)</label>
                <input type="hidden" class="form-control" id="formLink" value = "link" ng-model="link" required>
                <input type="hidden" value="{{route._id}}">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="inputForm.$invalid" ng-click="createRoute()">Save Route to Favorites</button>
        </form>
    </div>

    <br>
    <input id="profile" type="button" value="Profile" class="btn btn-block btn-primary btn-primary" onclick="location.href='userinfo.html';" />

</div>
</body>
</html>